.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2E03A5;
  padding: 20px;
  position: top;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-item {
  background-color: #F97000;
  color: rgb(249, 249, 249);
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar-item:hover {
  background-color: #ac4d00;
}

.navbar-user {
  color: #fff;
  margin-right: 10px;
  font-weight: bold;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
